.content {
    background: #888;
    width: 100%;
}
.book-block {
    display: flex;
    max-width: 1500px;
}

.book-img {
    flex: 0 0 30%;
}

.book-img img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    object-fit: cover;
}

.book-info {
    flex: 1;
    display: flex;
    padding: 20px;
}

.author {
    display: flex;
}

.genre {
    display: flex;
}

.book-price {
    font-size: 1.1em;
    font-weight: bold;
    color: brown;
}

.price-text {
    font-size: 1em;
}

.book-price-bl {
    display: flex;
}

.book-desc, .book-author, .book-name, .book-price-bl {
    margin-bottom: 10px;
    width: 150%;
    max-width: 1500px;
}

.book-name {
    font-size: 1.5em;
    font-family: RobotoBold;
}

.btn-back {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-back:hover {
    background-color: #0056b3;
}

.btn-order {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-order:hover {
    background-color: #218838;
}