.content {
    background: #888;
    width: 100%;
}
.book-block {
    display: flex;
    max-width: 1500px; /* Фиксированная ширина */
}

.book-img {
    flex: 0 0 30%; /* 40% ширины для изображения */
}

.book-img img {
    width: 100%; /* Картинка растягивается по ширине */
    height: auto; /* Высота автоматически рассчитывается */
    margin-top: 10px;
    object-fit: cover;
}

.book-info {
    flex: 1;
    display: flex;
    padding: 20px;
}

.author {
    display: flex;
}

.genre {
    display: flex;
}



.book-price-bl {
    display: flex; /* Использует flexbox для размещения элементов в строку */
}

.book-price {
    font-size: 1.5em; /* Размер шрифта для цены */
    font-weight: bold; /* Жирный текст для цены */
}

.price-text {
    font-size: 1em; /* Размер шрифта для текста "рублей" */
}

.book-desc, .book-author, .book-name, .book-price {
    margin-bottom: 10px; /* Отступы между блоками */
    width: 150%; /* Полная ширина */
    max-width: 1500px; /* Максимальная ширина для ограничения */
}

.book-name {
    font-size: 1.5em;
    font-family: RobotoBold;
}

.btn-back {
    background-color: #007bff; /* Цвет фона для кнопки "Назад" */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
}

.btn-back:hover {
    background-color: #0056b3; /* Цвет при наведении */
}

.btn-order {
    background-color: #28a745; /* Цвет фона для кнопки "Заказать" */
    color: white; /* Цвет текста */
    border: none; /* Убираем рамку */
    padding: 10px 20px; /* Отступы внутри кнопки */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Указатель при наведении */
}

.btn-order:hover {
    background-color: #218838; /* Цвет при наведении */
}