.content {
    background: gray;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    margin: 20px;
    background: gray;
}


.books-category {
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 30px;
    font-family: RobotoBold;
}

.category-link {
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

.data {
    display: flex;
    height: 95%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book {
    width: 30%;
    height: 50%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white
}

.book-img {
    flex: 0 0 30%;
    max-width: 100%;
    margin-right: 20px;
}

.book-img img {
    max-width: 150%;
    height: auto;
}

.bl1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.price {
    font-family: RobotoBold;
    font-size: 25px;
}

.book-info {
     flex: 0 0 50%;
     max-width: 50%;
     flex-direction: column;
}

.book-name {
    margin-top: 20px;
    font-family: RobotoBold;
}

.link-book {
    display: block;
    text-decoration: none;
    color: inherit;
}

.pages {
    text-align: center;
    width: 100%;
}

.pagination {
     display: inline-block;
     justify-content: center;
     align-items: center;
     margin-top: 7px;
     margin-bottom: 7px;
}

.pagination a.active {
    text-decoration: none;
    color: #007bff;
    padding: 8px 16px;
    border: 1px solid #ddd;
    margin: 0 4px;
    border-radius: 5px;
    border-color: green;
    color: orange;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #f1f1f1;
}

.pagination a {
     text-decoration: none;
     color: yellow;
}

