.company-inf {
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 80px;
}

.menu {
    margin-top: 3px;
    margin-right: 80px;
}

.contacts {
    margin-top: 5px;
}

.contacts-info {
    display: flex;
    margin-top: 15px;
}

.telegram {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.email {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.github {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.phone {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.item-menu a {
    text-decoration: none;
    color: white;
}
