.company-inf {
    margin-left: 30px;
    margin-top: 10px;
    margin-right: 80px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Создаем два равных столбца */
    column-gap: 5px; /* Устанавливаем меньший отступ между столбцами */
    row-gap: 10px; /* Устанавливаем расстояние между строками */
    width: 50%; /* Задаем ширину для меню */
}

.item-menu a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.contacts {
    margin-top: 5px;
}

.contacts-info {
    display: flex;
    margin-top: 15px;
}

.telegram {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.email {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.github {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.phone {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}


