.company-inf {
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 50px;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 10px;
    width: 30%;
}

.item-menu a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.contacts {
    margin-top: 5px;
}

.contacts-info {
    display: flex;
    margin-top: 5px;
}

.telegram {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.email {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.github {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.phone {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.div-footer {
    font-family: RobotoBold;
    margin-bottom: 10;
}