.search {
    width: 600px;
    height: 30px;
}

.search-btn {
    background: grey;
    width: 40px;
    height: 38px;
}

.search-grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}