.search {
    width: 600px;
    height: 30px;
}

.search-btn {
    background: #ffc;
    width: 40px;
    height: 38px;
}

.search-grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login1 {
    margin-right: 30px;
}

.login2 {
    margin-right: 20px;
}

.login1 a {
        text-decoration: none;
        color: black;
}

.login2 a {
        text-decoration: none;
        color: black;
}