body {
    max-width: 1500px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #777;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12%;
    background: #555;
}

.logo {
    margin-left: 30px;
    width: 150px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3%;
    background: #222;
    color: white;
}

.nav a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

.content {
    display: flex;
    height: 70%;
    font-family: RobotoThin;
}

.aside {
    background: #999;
    width: 20%;
}

.main {
    background: #888;
    width: 80%;
}

.footer {
    display: flex;
    align-items: left;
    justify-content: center;
    width: 100%;
    height: 15%;
    background: #444;
    font-size: 10 px;
    color: white;
}

.div-footer {
    font-family: RobotoBold;
}
