body {
    max-width: 1500px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #ffc;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12%;
    background: #a0b38f;
}

.logo {
    margin-left: 30px;
    width: 110px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3%;
    background: #3b332e;
    color: #cbd853;
    text-decoration: none;
}

.nav a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    color: green;
    text-decoration: none;
}

.content {
    display: flex;
    height: 70%;
    font-family: RobotoThin;
}

.aside {
    background: #7c995f;
    width: 20%;
}

.main {
    background: #ffc;
    width: 80%;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background: #3b332e;
    font-size: 10 px;
    color: white;
}

.user-info {
    background: #f1f1d6;
}

/* Контейнер для корзины */
.cart-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book-poster {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-img {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
}

.book-all-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.book-info h2 {
  font-size: 18px;
  margin: 0;
}

.book-info p {
  font-size: 14px;
  margin: 5px 0;
}

.cart-details p {
  font-size: 14px;
  margin: 5px 0;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  text-align: right;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.btn-buy {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-buy:hover {
    background-color: darkgreen;
}

.btn-cancel {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-cancel:hover {
    background-color: darkred;
}

.btn-cancel a {
    text-decoration: none;
    color: white;
}