body {
    max-width: 1500px;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    background-color: #ffc;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 12%;
    background: #a0b38f;
}

.logo {
    margin-left: 30px;
    width: 110px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3%;
    background: #3b332e;
    color: #cbd853;
    text-decoration: none;
}

.nav a {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    color: green;
    text-decoration: none;
}

.content {
    display: flex;
    height: 70%;
    font-family: RobotoThin;
}

.aside {
    background: #7c995f;
    width: 20%;
}

.main {
    background: #ffc;
    width: 80%;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    background: #3b332e;
    font-size: 10 px;
    color: white;
}
