<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
            integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
            integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
            crossorigin="anonymous"></script>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/css/header.css"/>
    <link rel="stylesheet" type="text/css" href="/css/footer-inf.css"/>
    <link rel="stylesheet" type="text/css" href="/css/content.css"/>
    <link rel="stylesheet" type="text/css" href="/css/book-page.css"/>
    <script th:src="@{/js/code.jquery.com_jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <title>Книжный магазин</title>
</head>
<body>


<!--header-->
<header class="header">
    <img class="logo" src="/images/log.png"/>
    <div class="search-grp">
        <input class="search" id="search" name="search" placeholder="поиск..." required>
        <button class="search-btn"><a>&#128269;</a></button>
    </div>
</header>


<!--Панель навигации Меню-->
<nav class="nav">
    <div><a class="menu-link" th:href="@{/index}">Главная</a></div>
    <div><a href="#modal-about-us">О нас</a></div>
    <div><a>Бестселлер</a></div>
    <div><a>Предзаказ</a></div>
    <div><a>Преимущества</a></div>
    <div><a>Каталог</a></div>
    <div><a href="#modal-contacts">Контакты</a></div>
    <div><a href="#modal-feedback">Обратная связь</a></div>
</nav>


<!--Content -->
<div class="content">

    <div class="container">
        <div class="book-block">
            <div class="book-img">
                <img th:src="${book.imageUrl}" alt="Загрузка картинки"/>
            </div>
            <div class="book-info">
                <div class="book-name">
                    <div th:text="${book.name}"></div>
                </div>
                <div class="book-desc" th:text="${book.description}"></div>
                <div class="book-author">
                    <div class="author">
                        <div><b>Автор:</b>&nbsp;</div>
                        <div class="author-name" th:text="${book.author}"></div>
                    </div>
                    <div class="genre">
                        <div><b>Жанр:</b>&nbsp;</div>
                        <div th:text="${book.category.name}"></div>
                    </div>
                    <div class="book-price-bl">
                        <div class="price-text"><b>Цена за книгу:&nbsp;</b></div>
                        <div class="book-price" th:text="${book.price}">&nbsp;</div>
                        <div class="price-rub">&nbsp;рублей</div>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn-back">Назад</button>
                    <button class="btn-order">Заказать</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<footer class="footer">
    <div class="company-inf">
        <div class="div-footer">Книжный магазин "Апысь"</div>
        <div>"Апысь" - крупнейшая сеть книжных магазинов, успешно работающих от Кильдебяк до пос. Лесхоз</div>
        <div>А ещё это - крупный интернет-магазин книг. В нем вы можете заказывать книги в любое время года</div>
        <div>Купив книгу в магазине "Апысь", вы становитесь её обладателем!</div>
    </div>
    <div class="menu">
        <div class="item-menu"><a href="#modal-book">Главная</a></div>
        <div class="item-menu"><a th:href="@{/books/getTest}">Бестселлер</a></div>
        <div class="item-menu"><a th:href="@{/index}">Предзаказ</a></div>
        <div class="item-menu"><a th:href="@{/index}">Преимущества</a></div>
        <div class="item-menu"><a th:href="@{/index}">Каталог</a></div>
        <div class="item-menu"><a th:href="@{/index}">О нас</a></div>
        <div class="item-menu"><a th:href="@{/index}">Контакты</a></div>
        <div class="item-menu"><a href="#modal-feedback">Обратная связь</a></div>
    </div>
    <div class="contacts">
        <div class="item-menu">КГЭУ</div>
        <div class="item-menu">гр. ЗТРСм-1-23</div>
        <div class="item-menu">Слепченко Александр Сергеевич</div>
        <div class="contacts-info">
            <a><img class="phone" src="/images/phone.svg"/></a>
            <a><img class="telegram" src="/images/telegram.svg"/></a>
            <a><img class="email" src="/images/email.svg"/></a>
            <a><img class="github" src="/images/github.svg"/></a>
        </div>
    </div>

</footer>

<div id="modal-feedback" class="modal">
    <div class="modal-fb-content">
        <a href="#" class="close">&times;</a>
        <h2>Обратная связь</h2>
        <form th:action="@{/books/sendFeedback}" method="post">
            <div class="fb-in">
                <label class="form-label">Пользователь</label>
                <div class="authorized-user-name" th:text="${user.name}">Авторизованный пользователь</div>
            </div>

            <div class="fb-in">
                <label for="email" class="form-label">Ваш email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Введите ваш email" required>
            </div>

            <div class="fb-in">
                <label for="phone" class="form-label">Ваш номер телефона</label>
                <input type="tel" class="form-control" id="phone" name="phone" placeholder="Введите ваш номер телефона" required>
            </div>
            <div class="fb-in">
                <span class="form-label" style="display:block; margin-bottom:5px;">Как с вами связаться?</span>
                <div>
                    <input type="radio" id="contactPhone" name="contactMethod" value="phone" checked>
                    <label for="contactPhone">По телефону</label>
                </div>
                <div>
                    <input type="radio" id="contactEmail" name="contactMethod" value="email">
                    <label for="contactEmail">По электронной почте</label>
                </div>
            </div>

            <div class="fb-in">
                <label for="note" class="form-label">Сообщение</label>
                <textarea class="form-control" id="note" name="note" placeholder="Введите ваше сообщение" required></textarea>
            </div>

            <button type="submit" class="btn send-form">Отправить</button>
        </form>
    </div>
</div>

</body>
</html>
