<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Книжный магазин</title>
        <link rel="stylesheet" type="text/css" href="fonts.css"/>
        <link rel="stylesheet" type="text/css" href="styles.css"/>
    </head>
    <body>
    <header class="header">
        <img class="logo" src="/static/1.jpg"/>
        <img class="avatar" src="/static/2.png"/>
    </header>
    <nav class="nav">
        Навигация
    </nav>

    <div class="content">
        <aside class="aside">
            <a href="#">Первая ссылка</a>
            <a href="#">Вторая ссылка</a>

        </aside>
        <main class="main">Контент</main>
    </div>
    <footer class="footer">
        Выполнил студент группы ЗТРСм-1-23 А.С. Слепченко 2024г.
    </footer>
</body>
</html>
